:root {
    --vermelho: #e50914;
    --preta: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #141414;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    margin-left: 1%;
}

header nav a {
    text-decoration: none;
    color: #aaa;
    margin: 10px;
}

header nav a:hover {
    color: #fff;
}

/*Filme principal*/ 

.filme-principal {
    font-size: 20px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)100%), url(img/vikings-capa.jpg);
    height: 400px;
    background-size: cover;
}